<h1>Signup!</h1>
<ul class="login__signup">
<%= form_for :user, url: '/users' do |f| %>

  <li>Username: </li><li class="form__input"><%= f.text_field :username %></li>
  <li>Email: </li><li class="form__input"><%= f.text_field :email %></li>
  <li>Password: </li><li class="form__input"><%= f.password_field :password %></li>
  <li>Password Confirmation: </li><li class="form__input"><%= f.password_field :password_confirmation %></li>
  <li><%= f.submit "[sign up]", class: "submit__link" %></li>

<% end %>
</ul>
