<h1>Edit Your Previously Added Handspun</h1>
<h3>  <%= link_to new_yarn_path do %>
  <i class="fa fa-plus-circle"></i>&nbsp;Add new handspun?
  <% end %>
</h3>
<%= form_for :yarn, url: yarn_path, method: :patch do |f| %>
  <% if @yarn.errors.full_messages.present? %>
    <ul class="errors">
      <% @yarn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="table">
    <div class="table__row">
      <div class="table__head table__40">Name/Description</div>
      <div class="table__head table__20">Measured Yardage</div>
      <div class="table__head table__20">Number of Plies</div>
      <div class="table__head table__10">Save</div>
    </div>
    <div class="table__row">
      <div class="table__cell">
        <%= f.text_field :name %>
      </div>
      <div class="table__cell">
        <%= f.number_field :plied_yardage %>
      </div>
      <div class="table__cell">
        <%= f.number_field :num_of_plies %>
      </div>
      <div class="table__cell">
        <%= f.submit "[save changes]", class: "submit__link" %>
      </div>
    </div>
  </div>
<% end %>
