<h1>Edit Your Previously Added Handspun</h1>
<h3>  <%= link_to 'Or add new handspun?', new_yarn_path %> </h3>

<%= form_for :yarn, url: yarn_path, method: :patch do |f| %>

  <div class="table">
    <div class="table__row">
      <div class="table__head table__40">Name/Description</div>
      <div class="table__head table__20">Measured Yardage</div>
      <div class="table__head table__20">Number of Plies</div>
      <div class="table__head table__10">Save</div>
    </div>
    <div class="table__row">
      <div class="table__cell">
        <%= f.text_field :name %>
      </div>
      <div class="table__cell">
        <%= f.number_field :plied_yardage %>
      </div>
      <div class="table__cell">
        <%= f.number_field :num_of_plies %>
      </div>
      <div class="table__cell">
        <%= f.submit "Submit" %>
      </div>
    </div>
  </div>
<% end %>
