<h1>Current Handspun</h1>
<h3>  <%= link_to 'Add new handspun?', new_yarn_path %> </h3>
<% if @yarns.length == 0 %>
<div class="no_yarns">
  You currently have no handspun added. Please add your Spinzilla spinning now to get your current total.
</div>

<% else %>
<div class="table">
  <div class="table__row">
    <div class="table__head  table__40">Name/Description</div>
    <div class="table__head  table__20">Measured Yardage</div>
    <div class="table__head  table__10">Number of Plies</div>
    <div class="table__head  table__10">Yardage Credit</div>
    <div class="table__head  table__10">Edit</div>
    <div class="table__head  table__10">Delete</div>
  </div>
  <% @yarns.each do |y| %>
  <div class="table__row">
    <div class="table__cell">
      <%= y.name %>
    </div>
    <div class="table__cell">
      <%= y.plied_yardage %>
    </div>
    <div class="table__cell">
      <%= y.num_of_plies %>
    </div>
    <div class="table__cell">
      <%= y.yardage_credit %>
    </div>
    <div class="table__cell">
      <%= link_to 'Edit', edit_yarn_path(y) %>
    </div>
    <div class="table__cell">
      <%= link_to 'Delete',  y,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>
<div class="table">
  <h3>Total Spinzilla Yardage: <%= @current_user.total_yardage %></h3>
</div>
<% end %>
